.App {
  text-align: left;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.content{
  margin-top: 100px;
  margin-left: 25%;
  margin-right: 25%;
}


/* Top bar */
.menu {
  min-width: 250px !important;
  max-width: 40vh;
}

.search{
  position: absolute;
  display: flex;
  right: 0;
  align-items: center ;
  justify-content: center;
  border-radius: 100px;
  background-color: #4d61d1;
  margin-right: 30px;
  padding-right: 20px;
  color: white;
}

.search-icon{
  padding: 10px;
}
/*   ---------     */

/* Main Page */


.categories-list-icons{
  max-height: 25px !important;
  max-width: 25px !important;
  margin-right: 2px;
}

h2{
  margin-left: 10px;
}

.filter-icon{
  background-color: gray;
  padding: 5px;
  height: fit-content;
  width: fit-content;
  border-radius: 10px;
}


/*   ---------     */

.text-gray{
  color:  rgba(0, 0, 0, 0.54);;
}

.text-green{
  color:  rgba(54, 158, 123, 0.54);;
}

.text-red{
  color: rgb(255, 0, 0);
}

.float-btn {
  right: 15px;
  bottom: 15px;
  position: fixed;
}
  
a {
  color: white;
  text-decoration: none;
}

.select-category{
  width: 30vh;
}

.post-box{
  padding: 18.5px 14px;
  border-radius: 4px;
  border: 1px solid lightgray;
  padding: 20px;
}

.post-length{
  color:  rgb(255, 0, 0);
  bottom: 10px;
  right: 10px;
  position: absolute;
}

.icon-edit{
  position: absolute;
  right: 40px;
  top: 10px;
}

.icon-delete{
  position: absolute;
  right: 10px;
  top: 10px;
}

img{
  max-width: 100%;
  height: 100%;
}

.center{
  text-align: center;
}

.right{
  text-align: right;
}

.post{
  background-color: white;
  margin: 5px;
}

.comment{
  background-color: white;
  margin: 5px;
}

.card {
  color: gray;
  width: 180px;
  border: 0;
  display: flex;
  position: relative;
  min-width: 0;
  word-wrap: break-word;
  font-size: .875rem;
  background: #fff;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  margin: 30px 0px;
  border-radius: 6px;
  flex-direction: column;
  padding: 15px;
}

.card-cotent{
  color: #FFFFFF;
  margin: 0 15px;
  padding: 0; 
  position: relative;
}

.icon-grid {
  float: left;
  padding: 15px;
  margin-top: -35px;
  border-radius: 3px;
  height: 50px;
  width: 50px;
  position: absolute;
  background: linear-gradient(60deg, #26c6da, #00acc1);
}

.categories{
  margin: 20px;
  text-align: center;
}

.category{
  margin: 10px;
  color: white;
}

.title{
  display: block;
  margin: auto;
}
svg{
  cursor: pointer;
}

.margin-top{
  margin-top:20px;
}

.user-btn{
  right: 20px;
  position: fixed;
}

button{
  background-color: white;
}